<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bauarbeitertrank Rechner</h1>
<h3>Verbleibende Dauer vom Gebäude eingeben</h3>
<div class ="inputDiv">
    <label for="daysInput">Days </label><input id="daysInput" type = "number">
    <br>
    <label for="hoursInput">Hours </label><input id="hoursInput" type = "number">
    <br>
    <label for="minutesInput">Minutes </label><input id="minutesInput" type = "number">
    <br>
    <button id ="calculateButton">calculate</button>
    <br>
    <br>
    <label id="resultLabel"></label>
</div>


</body>

<script src = "/js/gamescalculator.js"></script>
<link rel ="stylesheet" href="/css/tools/gamescalculation.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
</html>