<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <h1 style="text-align: center" >Passwort Generator</h1>

        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='/sensordata'">Sensordaten</button>
        <button onclick = "location.href='/rezepte'">Rezepte</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='/tools/converter'" >Einheiten Konvertierer</button>
                <button onclick = "location.href='/tools/finanzrechner'">Finanzrechner</button>
                <button onclick = "location.href='/tools/finnishconjugation'">Finnish Conjugation</button>
                <button onclick = "location.href='/tools/gamescalculator'">Spielerechner</button>
                <button onclick = "location.href='/tools/passwordgenerator'">Passwort Generator</button>
                <button onclick = "location.href='/tools/counter'">Textanalyse</button>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="mediaButton">Medien <img src = "/images/down_arrow.png" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='/books'">Bücher</button>
                <button onclick = "location.href='/games'">Spiele</button>
                <button onclick = "location.href='/movies'">Filme und Serien</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
</body>




<link rel="stylesheet" href="/css/general.css">
</html>