<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter Tools</title>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='sensordata'">Sensor Data</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png/" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='converter'" >Currency Converter</button>
                <button onclick = "location.href='finanzrechner'">Finanzrechner</button>
                <button onclick = "location.href='finnishconjugation'">Finnish Conjugation</button>
            </div>
        </div>
    </div>
    <h1>Converter</h1>
</div>

<footer class ="footer">
    <p>Author: Lukas Albrecht</p>
    <p>Software Engineer, Studying B.Sc. Computer Science</p>
    <a href="mailto:lukas.albrecht-coding@web.de">Mail Contact</a>
</footer>

</body>


<script src=/js/converter.js></script>
<link rel="stylesheet" href="/css/converter.css">
</html>