<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter Tools</title>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <button id="finnishConjugationButton">Finnish Conjugation</button>
        <div class = "dropdown">
            <button id="toolsButton">Tools</button>
            <div class = "dropdownContent">
                <button id ="converterHrefButton">Converter</button>
                <button id ="finanzrechnerHrefButton">Finanzrechner</button>
            </div>
        </div>
    </div>
    <h1>Currency Converter</h1>
</div>
</body>


<script src=/js/converter.js></script>
<link rel="stylesheet" href="/css/converter.css">
</html>