<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='/sensordata'">Sensor Data</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='/tools/converter'" >Currency Converter</button>
                <button onclick = "location.href='/tools/finanzrechner'">Finanzrechner</button>
                <button onclick = "location.href='/tools/finnishconjugation'">Finnish Conjugation</button>
                <button onclick = "location.href='/tools/gamescalculator'">Games Calculator</button>
                <button onclick = "location.href='/tools/passwordgenerator'">Password Generator</button>
            </div>
        </div>
    </div>
    <h1 style="text-align: center" >CORE APPLICATION</h1>
</div>

<nav>
    <ul>
        <li><a th:href="@{/tools/finanzrechner}">Finanzrechner</a></li>
        <li><a th:href="@{/tools/converter}">Converter</a></li>
        <li><a th:href="@{/wordstorage}">Word Storage</a></li>
        <li><a th:href="@{/tools/finnishconjugation}">Finnish Conjugation</a></li>
        <li><a th:href="@{/sensordata}">Sensor Data</a></li>
        <li><a th:href="@{/rezepte}">Rezepte</a></li>

    </ul>
</nav>
<div class = "coreImage">


</div>


<footer class ="footer">
    <p>Author: Lukas Albrecht</p>
    <p>Software Engineer, Studying B.Sc. Computer Science</p>
    <a href="mailto:lukas.albrecht-coding@web.de">Mail Contact</a>
    <a href="https://github.com/lal02">Github</a>
</footer>

</body>

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
</html>