<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Application</h1>

<nav>
    <ul>
        <li><a th:href="@{/finanzrechner}">Finanzrechner</a></li>
        <li><a th:href="@{/converter}">Converter</a></li>
        <li><a th:href="@{/wordstorage}">Word Storage</a></li>
        <li><a th:href="@{/finnishconjugation}">Finnish Conjugation</a></li>
        <li><a th:href="@{/sensordata}">Sensor Data</a></li>
        <li><a th:href="@{/rezepte}">Rezepte</a></li>

    </ul>
</nav>

<footer class ="footer">
    <p>Author: Lukas Albrecht</p>
    <p>Software Engineer, Studying B.Sc. Computer Science</p>
    <a href="mailto:lukas.albrecht-coding@web.de">Mail Contact</a>
</footer>

</body>

<link rel="stylesheet" href="/css/index.css">

</html>