<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezepte</title>
</head>
<body>
<div class="header">
    <div class = "headerButtonBar">
        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='/sensordata'">Sensor Data</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='/tools/converter'" >Currency Converter</button>
                <button onclick = "location.href='/tools/finanzrechner'">Finanzrechner</button>
                <button onclick = "location.href='/tools/finnishconjugation'">Finnish Conjugation</button>
                <button onclick = "location.href='/tools/gamescalculator'">Games Calculator</button>
                <button onclick = "location.href='/tools/passwordgenerator'">Password Generator</button>
            </div>
        </div>
    </div>
    <h1 style="text-align: center">Rezepte</h1>
</div>
<h1>Rezepte</h1>

</body>
<link rel="stylesheet" href="/css/rezepte.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
</html>