<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Augsburg Sensor Daten</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="header">
    <div class = "headerButtonBar">
        <button onclick = "location.href='/'">Home</button>
        <button onclick = "location.href='sensordata'">Sensor Data</button>
        <div class="dropdown">
            <button class = "dropdownHoverButton" id="toolsButton">Tools <img src = "/images/down_arrow.png/" alt = "icon" ></button>
            <div class = "dropdownContent">
                <button onclick = "location.href='converter'" >Currency Converter</button>
                <button onclick = "location.href='finanzrechner'">Finanzrechner</button>
                <button onclick = "location.href='finnishconjugation'">Finnish Conjugation</button>
                <button onclick = "location.href='/tools/gamescalculator'">Games Calculator</button>
                <button onclick = "location.href='/tools/passwordgenerator'">Password Generator</button>

            </div>
        </div>
    </div>
    <h1>Augsburg Temperatur und Luftfeuchtigkeit Sensordaten</h1>
</div>

<div class = "graphDiv">
    <canvas id="temperatureGraph" width="700" height="400"></canvas>
</div>


<footer class ="footer">
    <p>Author: Lukas Albrecht</p>
    <p>Software Engineer, Studying B.Sc. Computer Science</p>
    <a href="mailto:lukas.albrecht-coding@web.de">Mail Contact</a>
</footer>

</body>


<script src="/js/sensordata.js"></script>
<link rel="stylesheet" href="/css/sensordata.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
</html>